@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #f0f0f0;
	opacity: 1;
	background-image: radial-gradient(#3c7847 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#3c7847 0.6000000000000001px, #f0f0f0 0.6000000000000001px);
	background-size: 24px 24px;
	background-position: 0 0, 12px 12px;
}

.alert {
	@apply pt-0 pb-0 pl-1 pr-1 rounded-md;
}

table {
	@apply rounded-md;
}

table td {
	@apply text-black text-left;
}

table th {
	@apply font-bold text-base;
}

.table :where(thead, tbody) :where(tr:not(:last-child)),
.table :where(thead, tbody) :where(tr:first-child:last-child) {
	border-bottom-width: 2px;
	--tw-border-opacity: 0.5;
	border-bottom-color: hsl(var(--b2) / var(--tw-border-opacity));
}

.table-no-data-primary {
	@apply text-warning;
}
.table-no-data-secondary {
	@apply text-error;
}
.table-no-data-accent {
	@apply text-warning;
}

.btn {
	@apply shadow-sm shadow-gray-600 min-h-[30px];
}
.btn-regular {
	@apply rounded-md;
}
.btn-circle {
	@apply shadow-sm shadow-gray-600;
}
.btn-ghost {
	@apply shadow-none;
}
.btn-ghost:disabled {
	@apply shadow-none bg-gray-600;
}
.btn-disabled {
	@apply bg-gray-600 opacity-[0.2];
}

.join-error {
	@apply border-2 border-error rounded-xl font-bold;
}
.join-label-primary {
	@apply bg-primary text-gray-300 p-1 font-bold;
}
.join-label-secondary {
	@apply bg-secondary text-black p-1 font-bold;
}
.join-label-accent {
	@apply bg-accent text-black p-1 font-bold;
}

.join-label-content {
	@apply flex flex-col justify-center;
}

.bg-primary-text {
	@apply text-gray-300;
}
.bg-secondary-text,
.bg-accent-text {
	@apply text-black;
}

.bg-neutral-text {
	@apply text-white;
}

.input {
	@apply rounded-md min-h-[30px] min-w-[30px] text-gray-600;
}

.textarea {
	@apply text-gray-600;
}

.file-input {
	@apply text-gray-600;
}

.menu-custom {
	@apply max-h-[70vh] overflow-y-auto flex flex-col rounded-lg shadow-sm shadow-gray-600;
}

.label {
	@apply py-1;
}

.divider {
	@apply my-0;
}

.selected {
	@apply min-h-[30px];
}

.select {
	@apply text-gray-400;
}

.multiselect {
	@apply min-h-[30px];
	--height: 100%;
	--background: white;
	--list-background: black;
	--border: rgb(31 41 55 / var(--tw-bg-opacity));
	--border-radius: 0 6px 6px 0;
}

/* ::-webkit-scrollbar-track {} */

::-webkit-scrollbar {
	@apply w-[10px] h-[10px];
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-700 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-700 rounded-md;
}

::-webkit-scrollbar-thumb:active {
	@apply bg-gray-600 rounded-md;
}
